.PrivacypolicyParentContainer{
    height: 100vh;
    max-width: auto;
    width: 100vw;
    background-color: #5c5353;
    display: flex;
    justify-content: center;
    align-items: center;
}

.privacyPolicycontent{
    width: 40%;
}